
header{
    padding-left: 20px;
    font-size: 32px;
    font-weight: bold;
    width: 1246px;
    height: 39px;
    margin: 21.44px 0;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-main{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 19.92px 0;
}

.paragrafo-main{
    text-align: center;
    margin: 16px 0;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

#missao{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

em strong{
    color: #ff0000;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

.titulo-beneficios{
    font-size: 18px;
    font-weight: bold;
    margin: 18.72px;
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    padding-left: 40px;
    margin: 16px 183.9px 16px 0;
    list-style-type: disc;
}

.itens{
    font-style: italic;
}

.img-beneficios{
    width: 50%;
}

footer{
    text-align: center;
    background: url("../Imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    font-size: 13px;
    margin: 20px;
    color: #FFFFFF;
}
